.productContainer,
.deletedSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  margin-bottom: 15vh;
}
.itemWrapper {
  margin: 0 auto;
  width: 350px;
  border-radius: 10px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 12px 16px;
  box-shadow: 0 4px 20px rgb(80, 79, 79);
}
.title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.desc {
  font-size: 15px;
}
.btnCont {
  margin-top: 10px;
}
.deletedSection {
  margin-top: 15vh;
}
.deletedTitle {
  font-size: 36px;
}
